
html {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
img {
    width: 100%;
    border: 5px solid white;
    background-color: rgb(40, 105, 106);
}

p {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

#div. {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
}

